table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4rem 2.3rem;
    margin: 4rem;
    background-color: white;
}

table {
    width: 1000px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 20px rgb(50, 50, 62);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdColor {
    color: rgb(82, 82, 82);
}

button {
    border: 1px grey solid;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    scale: 1.2;
    box-shadow: 1px 1px 10px rgb(179, 178, 178);
}
