#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

button {
    border: 1px solid black;
}

.runtracker-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(73, 95, 176);
    padding: 1rem;
    border-radius: 8px;
}

input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

.un-list {
    list-style: none;
}
