#root {
    max-width: 1300px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.h1 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 12rem 0 2rem 0;
}

.background {
    background-image: url(/img/runner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
}

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    display: flex;
    list-style-type: none;
    margin: 3rem 4rem;
    gap: 3rem;
}

.li:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.li:link,
.li:visited {
    text-decoration: none;
}

.li,
.li:visited,
.li:hover{
    color: inherit;
}
