.wrapperLi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    display: flex;
    list-style-type: none;
    gap: 3rem;
}

.li:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-bottom: -1px;
}
